@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;700;800&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: all 0.2s linear;
}

:root{
    --blue: #29d9d5;
    --white: #fff;
    --black: #000;
    --light-color: #aaa;
    --border : .2rem solid (var(--blue));
    --black-bg: rgba(17,17,17,.7)
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 9rem;
}

::-webkit-scrollbar{
    width: 1rem;
}

::-webkit-scrollbar-track{
    background: var(--black);
}

::-webkit-scrollbar-thumb{
    background: var(--blue);
}

body{
    background: var(--black);
    overflow: hidden;
}

.header{
    position: fixed;
    top: 0; 
    left: 0; 
    right: 0;
    z-index: 1000;
    background: #222;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem 9%;
    
}

.navbar a {
    font-size: 1.7rem;
    color: var(--light-color);
    display: inline-block;
    margin: 0 1rem;
}

.navbar a:hover{
    color: var(--blue);
}

.logo{
    font-size: 2.5rem;
    color: #fff;
    font-weight: bolder;
}

i{
    color: var(--blue);
    padding-right: .5rem;
}

.btn{
    
    display: inline-block;
    padding: 1rem 3rem;
    font-size: 1.7rem;
    color: #29d9d5;
    border: .2rem solid #29d9d5;
    border-radius: 5rem;
    cursor: pointer;
    background: none;
}

.btn:hover{
    background: #29d9d5;
    color: #000;
}

#menu-btn{
    font-size: 2.5rem;
    color: #fff;
    cursor: pointer;
    display: none;
}


section{
    padding: 3rem 9%;
}


.home{
    margin: 0 auto;
    margin-top: 9rem;
    width: 90%;
    border-radius: 1rem;
    background:linear-gradient(rgba(0, 0, 0, .7), rgba(0, 0, 0, .7)), url(./image/545077.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    min-height: 80vh;
    align-items: center;
    justify-content: center;
}

.content{
    text-align: center;
}


.content span{
    font-weight: bolder;
    color: transparent;
    font-size: 4vw;
    -webkit-text-stroke: .1rem #fff;
    display: block;
}

.content h3{
    font-size: 6vw;
    color: #fff;
}

.content p{
    max-width: 60rem;
    margin: 1rem auto;
    font-size: 1.4rem;
    color: #aaa;
    line-height: 2;
}


.book-form{
    width: 80%;
    margin: 0 auto;
    margin-top: -5rem;
    background: #222;
    border-radius: 1rem;
    box-shadow: 0 .5rem 1rem rgba(17, 17, 17, .3);
}

.book-form form{
    display: flex;
    align-items: flex-end;
    flex-wrap: wrap;
    gap: 1.5rem;
    padding: 3rem 2rem;
}

.inputBox{
    flex: 1 1 25rem;
}

.book-form .hm-btn{
    display: inline-block;
    padding: 1rem 3rem;
    font-size: 1.7rem;
    color: #29d9d5;
    border: .2rem solid #29d9d5;
    border-radius: 5rem;
    cursor: pointer;
    background: none;
    flex: 1 1 15rem;
}

.hm-btn:hover{
    background: #29d9d5;
    color: #000;
}

.book-form span{
    font-size: 1.4rem;
    color: #aaa;
}

.book-form input{
    width: 100%;
    padding: 1.2rem 1.4rem;
    border-radius: 5rem;
    border: .2rem solid #29d9d5;
    font-size: 1.6rem;
    color: #aaa;
    text-transform: none;
    background: none;
    margin-top: 1rem;
}


.about{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
    margin-top: 5rem;
}

.video-container {
    flex: 1 1 42rem;
}

.video-container video{
    border-radius: 1rem;
    width: 100%;
}

.hm-content{
    flex: 1 1 42rem;
}

.hm-content span{
    color: #29d9d5;
    font-size: 2rem;
}

.hm-content h3{
    color: #fff;
    font-size: 4rem;
    margin-top: 5rem;
}

.hm-content p{
    padding: 1rem 0;
    margin: 1rem auto;
    font-size: 1.4rem;
    color: #aaa;
    line-height: 2;
}


.controls{
    text-align: center;
    padding: 2rem 0;
}

.controls span{
    display: inline-block;
    height: 2rem;
    width: 2rem;
    border-radius: 50%;
    background: #fff;
    cursor: pointer;
    margin: .7rem;
}

.controls span:hover{
    background: #29d9d5;
}
















@media (max-width:991px){
    html{
        font-size: 55%;
    }

    .header{
        padding: 1.5rem;
    }

    section{
        padding: 3rem 2rem;
    }

}

@media (max-width:768px){

    #menu-btn{
        display: inline-block;
    }

    .navbar{
        position: absolute;
        top: 99%; left: 0; right: 0;
        background: #222;
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }
    .active{
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }


    .navbar a{
        margin: 2rem;
        font-size: 2rem;
        display: block;
    }


.home{
    margin-top: 10rem;
}

.content span{
    font-size: 8vw;
}

.content h3{
    font-size: 9vw;
}


}


@media (max-width:450px){
    html{
        font-size: 50%;
    }

    .about .content h3 {
        font-size: 3.5rem;
    }

}